.slide {
    display: flex;
    flex: 1;
    transition: all 2s ease-in;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#interactiveVideo {
    display: flex;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease;
}