/* Slideshow container */

.slideshow-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.slide {
    display: flex;
    flex: 1;
    transition: all 2s ease-in;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


/* The dots/bullets/indicators */

.dot {
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 75px;
    margin: 0 2px;
    border-radius: 2px;
    border: 1.5px solid #9C001D;
    display: inline-block;
}

.dot div {
    display: flex;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1;
    transition: background-color 0.6s ease;
    align-items: center;
    justify-content: center;
}

.dot div i {
    font-size: 2rem;
    color: white;
}

.dot span {
    background-size: cover;
    display: flex;
    width: inherit;
    height: inherit;
}

.active div {
    background-color: rgba(156, 0, 29, 0.75);
}


/* slide animation */

.moved-left {
    position: relative;
    animation: animateleft 0.5s
}

@keyframes animateleft {
    0% {
        left: -300px;
        opacity: 0
    }
    70% {
        left: 0;
        opacity: 0.4
    }
    100% {
        left: 0;
        opacity: 1
    }
}

.moved-right {
    position: relative;
    animation: animateright 0.5s
}

@keyframes animateright {
    0% {
        right: -300px;
        opacity: 0
    }
    70% {
        right: 0;
        opacity: 0.4
    }
    100% {
        right: 0;
        opacity: 1
    }
}