.questionContainer {
    opacity: 0;
    transition: all 0.5s 0.2s ease-in;
}

.interactive-video {
    transition: all 0.2s ease-in;
    border: 5px solid black;
    border-radius: 20px !important;
}

.videoHeader {
    margin-top: 50px;
    text-align: center
}