.keywords-bank {
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    align-items: center;
    min-height: 200px;
}

.bank-header {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.keywords-bank #keywords {
    display: grid;
    min-height: 200px;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
    align-content: center;
    justify-content: center;
}

.keyword {
    word-wrap: break-word;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

.drop-area-container {
    background-color: yellowgreen;
    padding: 20px;
    bottom: 50%;
    margin: 20px;
    line-height: 50px;
}

.drop-area {
    display: inline-block;
    width: 200px;
    height: 75px;
}