.bank-header {
    display: flex;
    flex-wrap: wrap;
}

.keywords-bank {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    min-height: 150px;
    align-items: flex-start;
    border: 1px solid #ABABAB;
}

.drop-area-container {
    margin: 20px 0;
    padding: 20px;
    bottom: 50%;
    line-height: 60px;
    justify-items: center;
    border: 1px solid #ABABAB;
}

.drop-area {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    vertical-align: middle;
    width: 250px;
    min-height: 50px;
    padding: 5px;
    margin: 5px 10px;
    border: 1px dashed #ABABAB;
    transition: all 0.5s ease-in;
}

.keyword {
    display: inline-block;
    max-height: 50px;
    position: relative;
    padding: 15px 10px;
    margin: 0px 10px;
    text-align: center;
    border: 1px solid #ABABAB;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    transition: all 0.5s ease-in;
}

.keyword i {
    font-size: 1.25rem;
    margin-left: 10px;
}

.feedbackImg {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin: 10px;
}

.correct {
    border: 2.5px solid #ABABAB;
    color: green;
}

.incorrect {
    color: red;
}

.activity-btn {
    font-weight: bold!important;
    border-radius: 2px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 5px;
}

#verificationButton {
    background: #9C001D;
    color: white;
}

#solutionButton {
    border: 1px solid #9C001D;
    color: #9C001D;
    background: #FFFFFF;
}