.flexColumn {
    display: flex;
    flex-direction: column;
}

.statement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statement h3 {
    color: #791619!important;
    font-weight: 700;
}

.choices-list {
    list-style: none;
    padding: 0;
    align-items: center;
}

.choices-list li {
    list-style: none;
    border: 1px solid #ae7375;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    transition: all 0.1s ease;
    width: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.choices-list li span {
    text-align: center;
    margin: 0 0 0 auto;
}

.choices-list div {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.choices-list li:hover {
    background-color: rgba(121, 22, 25, 0.4);
}

.selected {
    border: 5px solid rgb(218, 165, 32);
    background-color: rgba(218, 165, 32 0.4);
}

.correct {
    border: 5px solid rgb(34, 139, 34);
    background-color: rgba( 34, 139, 34, 0.4);
}

.incorrect {
    border: 5px solid rgba(255, 0, 0, 0.8);
    background-color: rgba(255, 0, 0, 0.4);
}

.feedback-img {
    margin-left: auto;
    align-self: stretch;
    height: 42px;
    width: 42px;
    opacity: 0;
    transition: "all 0.2s ease-in";
}

.feedback {
    margin: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    word-break: break-word;
}

.verify-btn {
    color: white!important;
    border-radius: 50%;
    background-color: #791619;
    border: 1px solid #6e1417;
    outline: none;
    box-shadow: 0 9px #999;
    text-align: center;
    transition: background-color 0.2s ease-in, border 0.05s ease-in;
}

.verify-btn:hover {
    background-color: #5EBA7D;
    border: 1px solid #254A32;
}

.verify-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 2.5px #999!important;
    transform: translateY(4px);
}