.flexColumn {
    display: flex;
    flex-direction: column;
}

.statement {
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.statement span {
    font-weight: 700;
}

.choices-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    padding: 0;
    margin: 0 50px 0 50px;
    transition: all 0.5s ease-in;
}

.choices-list div {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.choices-list li {
    display: flex;
    width: 100%;
    margin: 0 10px;
    text-align: center;
    align-items: center;
    justify-content: start;
    padding: 10px;
    list-style: none;
    border: 1px solid #ABABAB;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.choices-list li span {
    font-weight: bold;
    text-align: center;
    margin: auto 14px auto;
}

.choices-list i {
    margin-left: 10px;
}

.selected {
    border: 2px solid #5E5E5E !important;
}

.feedback {
    display: flex;
    align-items: center;
    margin: 0 50px;
    opacity: 0;
    transform: scaleY(-1);
    transition: all 0.5s ease;
    word-break: break-word;
    text-align: start;
    border-radius: 2px;
    border: 1px solid #005380;
    background: #E6F7FF;
    color: #005380;
    visibility: hidden;
}


/*Feedback animation*/

.feedbackReveal {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    opacity: 1.0;
    transform: scaleY(1);
    visibility: visible;
}

.feedback p {
    margin: 0 14px auto;
    font-weight: bold;
    font-size: 14px;
}

.verify-btn {
    margin-right: 10px;
    color: white!important;
    border-radius: 2px;
    background-color: #9C001D;
    outline: none;
    text-align: center;
}