/* Slideshow container */

.slideshow-container {
    border: 1px solid #9C001D;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 25px 25px 50px;
    margin-top: 20px;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex: 1;
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 14px
    }
}

.prev,
.next {
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    color: #9C001D;
    font-size: 24px;
    font-weight: 900;
}

.prev {
    left: 0.1%;
}

.next {
    right: 0px;
}

.prev i,
.next i {
    transition: all 0.5s ease;
}

.prev i:hover,
.next i:hover {
    transform: scale(1.5);
    color: #9C001D;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid #9C001D;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #9C001D;
}

.dot:hover {
    background-color: #ae7375;
}


/* slide animation */

.moved-left {
    position: relative;
    animation: animateleft 0.5s
}

@keyframes animateleft {
    0% {
        left: -300px;
        opacity: 0
    }
    70% {
        left: 0;
        opacity: 0.4
    }
    100% {
        left: 0;
        opacity: 1
    }
}

.moved-right {
    position: relative;
    animation: animateright 0.5s
}

@keyframes animateright {
    0% {
        right: -300px;
        opacity: 0
    }
    70% {
        right: 0;
        opacity: 0.4
    }
    100% {
        right: 0;
        opacity: 1
    }
}