.slide {
    display: flex;
    flex: 1;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    border: 4px solid #791619;
    border-radius: 10px;
    display: flex;
    padding: 50px;
}

.prev,
.next {
    top: 50%;
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}


/* Position the "next button" to the right */

.prev {
    left: 0.1%;
    border-right: 20px solid #791619;
}

.next {
    right: 0px;
    border-left: 20px solid #791619;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    transform: scale(1.5);
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ae7375;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #934446;
}


/* slide animation */

.moved-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.moved-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}